<p style="color: green"><%= notice %></p>

<% content_for :title, "Scores" %>

<h1>Scores</h1>

<div id="scores">
  <hr/>
  <% @scores.each do |score| %>
    <%= render score %>
    <p>
      <%= link_to "Show this score", [@game, @round, score] %>
    </p>
    <hr/>
  <% end %>
</div>

<%= link_to "New score", new_game_round_score_path %>

<%= link_to "Back to round", [@game, @round] %>
