<%= render partial: "layouts/header_and_button", locals: { :header => "Rounds", :link_title => "Back to game", :route => game_path(@game) } %>

<div id="rounds">
  <% @rounds.each do |round| %>
    <%= render round %>
    <p>
      <%= link_to "Show this round", [@game, round] %>
    </p>
    <hr/>
  <% end %>
</div>

<%= link_to "New round", new_game_round_path %>
<%= link_to "Back to the game", game_path(@game) %>
