<% if @game.finished? %>
  <div class="alert alert-success fade show mt-1" role="alert">
    This game is has been finished and cannot be edited
  </div>
<% end %>

<%= render partial: "layouts/header_and_button", locals: { :header => @game.name, :link_title => "Back to games", :route => games_path } %>

<p>
  <strong>Game name:</strong>
  <%= @game.name %>
</p>

<div class="d-flex justify-content-between">
  <div>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
    <% if @game.rounds.count == 0 %>
      <%= link_to "Add a player", new_game_player_path(@game) %>
    <% else %>
      <span data-bs-toggle="tooltip" data-controller="tooltips" data-bs-title="Players cannot be added after the game has started">Add a player</span>
    <% end %>
  </div>
</div>

<hr/>

<div class="d-flex justify-content-between align-items-center">
  <h1>Rounds</h1>
  <%= form_with(url: game_rounds_path(@game), method: :post, local: true) do |form| %>
    <% if form.object && form.object.errors && form.object.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this round from being saved:</h2>
        <ul>
          <% form.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @create_round_disabled %>
      <div data-controller="tooltips" data-bs-toggle="tooltip" data-bs-title="A new round cannot be created as one still in progress">
    <% else %>
      <div>
    <% end %>
      <%= form.submit "New round", class: "btn btn-primary", disabled: @create_round_disabled %>
    </div>
  <% end %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Round number</th>
      <% @game.players.each do |player| %>
        <th>
          <div class="d-flex align-items-center">
            <%= player.name %>
            <% if @game.rounds.empty? %>
              <%= button_to game_player_path(@game, player), form: { data: { turbo_confirm: "Are you sure you want to delete this player?" } }, method: :delete, class: "btn" do %>
                <i class="bi bi-trash-fill"></i>
              <% end %>
            <% end %>
            <%= link_to edit_game_player_path(@game, player), class: "btn" do %>
              <i class="bi bi-pencil-fill"></i>
            <% end %>
          </div>
        </th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @game.rounds.count == 0 %>
      <tr>
        <td colspan="<%= @game.players.count + 3 %>" class="text-center">
          No rounds have been created yet
        </td>
      </tr>
    <% else%>
      <% @game.rounds.each do |round| %>
        <tr>
          <td>
            <% if round.finished? %>
              <i class="bi bi-check-circle-fill"></i>
            <% else %>
              In progress
            <% end %>
          </td>
          <td><%= round.sid %></td>
          <% @game.players.each do |player| %>
            <% score = round.scores.find_by(player_id: player.id) %>
            <td>
              <% if score %>
                <%= number_to_currency(score.total_final_score) %>
                <% if score.banker? %>
                  <i class="bi bi-bank" data-bs-toggle="tooltip" data-bs-title="This player was the banker for this round" data-controller="tooltips"></i>
                <% end %>
                <% if round.winner == player %>
                  <i class="bi bi-trophy-fill" data-bs-toggle="tooltip" data-bs-title="This winner won the round. They received a $20,000 cash bonus" data-controller="tooltips"></i>
                <% end %>
              <% else %>
                <%= link_to "Score player", new_game_round_score_path(@game, round, player_id: player.id) %>
              <% end %>
            </td>
          <% end %>
          <td>
            <%= link_to "Show this round", [@game, round] %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <% if @game.rounds.count > 0 %>
    <tfoot>
      <tr>
        <th></th>
        <th>Total Score</th>
        <% @game.players.each do |player| %>
          <% total_score = @game.rounds.sum { |round| round.scores.find_by(player_id: player.id)&.total_final_score.to_i } %>
          <td><%= number_to_currency(total_score) %></td>
        <% end %>
        <td></td>
      </tr>
    </tfoot>
  <% end %>
</table>

<% unless @game.finished? %>
  <%= button_to "Finish game", game_finish_path(@game), form: { data: { turbo_confirm: "Are you sure you want to finish this game?" } }, method: :put, class: "btn btn-primary" %>
<% end %>

<div data-controller="game-rounds-reports" class="mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Player scores over the game</h1>
  </div>
  <div hidden data-game-rounds-reports-target="gameId"><%= @game.id %></div>
  <div class="d-flex justify-content-center align-items-center" data-game-rounds-reports-target="chart"></div>
</div>
